body{ 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(97, 122, 7);
    color: #ffffff;
}
header{
    background: #4caf50;
    color: white;
    text-align: center;
    padding: 50px o;
    position: relative;
}
header h1{
    margin: 0;
    font-size: 3em;
    animation: fadeIn 2s ease-in-out;
}
header p{ 
    font-size: 1.2em;
    margin: 0;
    animation: slideUp 2s ease-in-out;
}
.content-section{
    padding: 30px;
    text-align: center;
    font-size: 1.2rem;
}
img{
  width: 100%;

}
#projects .project-card{
    display: inline-block;
    width: 30%;
    margin: 15px;
    background-color: white;
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    animation: zoomIn 1s ease-in-out;
    color: goldenrod;
}
.project-card:hover {
    transform: scale(1.05);
}
#whatsapp { 
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: aquamarine;
    color:yellowgreen;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    animation: zoomIN 1s ease-in-out;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration-line: none;
}
#whatsapp:hover {
    color:#ff9800;
    text-transform: uppercase;
    background-color: #ffd700;

}
footer p {
    background-color:greenyellow;
    color: rgb(249, 4, 4);
    text-align: center;
    padding: 20px;
    position: relative;
}
footer p {
    margin: 0;
    animation: fadeIn 3s ease-in-out;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes slideUp {
    from { transform:translateY(50px);}
    to { transform: translateY(0);}
}
@media (max-width: 768px) {
    #projects .projects-card {
        width: 100%;
        margin-bottom:20px;
    }
}